nav ul li { margin: 15px 10px; }

.week-by-week { width: 100%; }

footer { text-align: center; }

.jump-to { font-size: 14pt; }

.class-areas { font-size: 14pt; }

.logo { text-align: center; }
.logo img { height: 100px; }

tr.week-head { background: #e1cdff; height: 10px; }

table.week-by-week tr { border-bottom: solid 1px #aaaaaa; }

table .week-num { width: 5%; text-align: center; padding: 10px; }
table .days     { width: 10%; text-align: center; border-left: solid 1px #cccccc; padding: 10px; }
table .topics   { width: 15%; border-left: solid 1px #cccccc; padding: 10px; font-size:10pt; }
table .topics ul li { margin-bottom: 15px; }
table .in-class { width: 20%; border-left: solid 1px #cccccc; padding: 10px; }
table .homework { width: 20%; border-left: solid 1px #cccccc; padding: 10px; }
table .notes    { width: 20%; border-left: solid 1px #cccccc; padding: 10px; }

.main-page { font-size: 16pt; }

ul.nav-bars { list-style-type: none; }
ul.nav-bars li { float: left; margin: 0 10px; }

ul.nav-bars li:before {
  content: "|";
  padding-right: 5px;
}

span.due-date { display: block; font-size: 10pt; }

table.full-width { width: 100%; }


.syllabus-header { text-align: center; font-size: 1.5em; }
.syllabus-header .department {}
.syllabus-header .class-name {}
.syllabus-header .class-code {}
.syllabus-header .semester {}

.syllabus .info-header { font-weight: bold; }
.syllabus .info-table .info-header {  }
.syllabus-nav ul li { float: left; font-size: 1.5em; margin: 0 20px; }


.reference p strong.paragraph { margin-top: 50px; display: block; }



.reference p strong.paragraph { margin-top: 50px; display: block; }
.lab p strong.paragraph { margin-top: 50px; display: block; }
.reference h4, .reference h3 { margin-top: 50px; }

.reference img { margin: 15px auto; display: block; }

.tt { font-family: monospace; }

.lab .rules { border: dashed 2px #ff0000; padding: 15px; background: #fff8c0; }

.warn { color: #ff0000; }
div.reminder { border: solid 2px #004688; background: #cfe0f0; }
div.reminder img { margin: 0 10px; }
div.warning { border: solid 2px #ff9c00; background: #ffeccd; }

div.reminder, div.warning { padding: 15px; margin: 50px; font-size: 1.2em; }

.center-text { text-align: center; }

@media print{
    .question { page-break-before: always; }

    .floating-jump-to { display: none; }

    .print-new-page { page-break-before: always; }
}

@media only screen and (max-device-width: 480px) {
    .floating-jump-to { display: none; }
}


.floating-jump-to {
    position: fixed;
    padding: 10px;
}

.lab-main {
    background: #ffffff;
}

.truth-table tr th,
.truth-table tr td { text-align: center; }

.function-specs { border: solid 1px #000000; background: #eee; padding: 10px; margin: 10px; }
.function-specs function-return {}
.function-specs function-parameters {}

table .separator { background: #aaa; }

.citation { font-size: 0.9em; }

.question ol { list-style-type: lower-alpha; }
.question-nobreak ol { list-style-type: lower-alpha; }

.bordered-table { border: solid 1px #000000; font-size: 1.5em; }
.bordered-table tr { border: solid 1px #000000; }
.bordered-table tr td { border: solid 1px #000000; padding: 10px; }


img.full-width { width: 100%; }


.truth-table { font-size: 1.2em; }
.truth-table tr td,
.truth-table tr th {  padding: 5px 15px; }
.truth-table th.separator,
.truth-table td.separator { border-right: solid 2px #000; background: none; }
.truth-table tr.header { border-bottom: solid 2px #000; }

.truth-table th.light-separator,
.truth-table td.light-separator { border-right: solid 1px #000; }

.truth-table .true { color: #006600; font-weight: bold; }
.truth-table .false { color: #660000; font-weight: bold; }

span.due { font-size: 8pt; display: inline-block; width: 100px; color: #aa0000; }
span.new-line { display: block; clear: both; }




.due { color: #aa0000;} 
